<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="menu-principal">
	<a class="navbar-brand" href="/escuelas">TiSmart - Reto 2</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
<!-- 			<li class="nav-item active"> -->
<!-- 				<li class="nav-item"> -->
<!-- 					<a class="nav-link" href="/">Home</a> -->
<!-- 				</li> -->
<!-- 				<a class="nav-link" th:href="@{/hospital/}"> -->
<!-- 					Listado -->
<!-- 					<span class="sr-only">(current)</span> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 			<li class="nav-item"> -->
<!-- 				<a class="nav-link" th:href="@{/hospital/create}">Ingresar</a> -->
<!-- 			</li> -->
<!-- 			<li class="nav-item"><a class="nav-link" th:href="@{/hospital/modify?edit=true}">Modificar</a> -->
<!-- 			</li> -->
<!-- 			<li class="nav-item"> -->
<!-- 				<a class="nav-link" th:href="@{/hospital/search}">Buscar</a> -->
<!-- 			</li> -->
		</ul>
		<div sec:authorize="isAnonymous()"> 
			<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/login}">Ingresar</a>&nbsp; 
			<a class="btn btn-outline-primary my-2 my-sm-0" th:href="@{/signup}">Registrarse</a>&nbsp; 				
		</div>
		<div sec:authorize="isAuthenticated()">
			<span class="text-gray">Bienvenido: </span>&nbsp;<span class="text-gray" sec:authentication="name"></span>&nbsp;
			<a class="btn btn-primary" th:href="@{/logout}">Salir</a>		
		</div>
	</div>
</nav>